{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load cache %}

{% block title %}
News
{% endblock title %}
{% cache 60 content %}
{% block content %}
    <h1>ВСЕ НОВОСТИ</h1>
    <h5>Количество: {{ news|length }}</h5>

       <hr>
    {% if news %}
        <table>
           <tr>
               <td><h6> Дата </h6></td>
               <td><h6> Заголовок </h6></td>
               <td><h6> Категория </h6></td>
               <td><h6> Текст </h6></td>
               <td><h6> Ссылка </h6></td>
           </tr>

          {% for n in news %}
           <tr>
               <td>{{ n.dateCreation|date:'d.m.Y' }}</td>
               <td>{{ n.title|censor }}</td>
               <td>
                   {% for category in n.postCategory.all %}
                       <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
               <td>{{ n.text|truncatechars:20|censor }}</td>
               <td><a href="./{{ n.pk }}">Открыть</a></td>
           </tr>
           {% endfor %}
        </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
{% endcache %}