{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Utils
{% endblock title %}

{% block content %}
    <h1>РЕДАКТИРОВАНИЕ ЗАПИСЕЙ</h1>
{#    <h5>Количество: {{ news|length }}</h5>#}

       <hr>


    {% if post_list %}
        <table>
           <tr>
               <th scope="col">id</th>
               <th scope="col">Дата</th>
               <th scope="col">Заголовок</th>
               <th scope="col">Текст</th>
               <th scope="col">Редактирование</th>
               <th scope="col">Удаление</th>
           </tr>

          {% for n in post_list %}
           <tr>
               <td>{{ n.id }}</td>
               <td>{{ n.dateCreation|date:'d.m.Y' }}</td>
               <td>{{ n.title}}</td>
               <td>{{ n.text|truncatechars:30 }}</td>
               <td><a href="{% url 'edit_page' n.pk %}">Редактировать</a></td>
               <td><a href="{% url 'delete_page' n.pk %}">Удалить</a></td>
           </tr>
           {% endfor %}
        </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}